@page "/servername"

@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>SetServerName</h3>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<FieldComponent Label="Name">
    <Control>
        <input type="text" @bind-value="serverName" class="form-control "/>
    </Control>

</FieldComponent>

<br />

<button type="button" class="btn btn-primary" @onclick="GoNext">Next</button>


@code {
    private string? serverName;

    private string? errorMessage;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void GoNext()
    {
        if (string.IsNullOrWhiteSpace(serverName))
        {
            this.errorMessage = "Server name is Required ";
        }
        else
        {
            NavigationManager.NavigateTo($"/cityname?serverName={serverName}");
        }
    }

}
